GOOGLE_APPLICATION_CREDENTIALS=keys/gcp-sa.json

GCP_PROJECT_ID=your-gcp-project-id
GCS_BUCKET_NAME=your-gcs-bucket-name
GCP_REGION=asia-southeast2
BQ_DATASET_STAGING=your-staging-dataset
BQ_DATASET_CURATED=your-curated-dataset
BQ_DATASET_MART=your-mart-dataset
BQ_DATASET_LOCATION=asia-southeast2
BQ_STAGING_TABLE_BATCH=green_tripdata_staging_batch
BQ_STAGING_TABLE_STREAM=green_tripdata_staging_stream
BQ_STAGING_TABLE_TAXI_ZONE_LOOKUP=taxi_zone_mapping_staging
BQ_CURATED_TABLE=green_tripdata_curated
GCS_CHECKPOINT_LOCATION=gs://your-gcs-bucket-name/checkpoints/green_taxi_stream/

# Pub/Sub Configs
PUBSUB_TOPIC_ID=your-pubsub-topic-id
PUBSUB_SUBSCRIPTION_ID=your-pubsub-subscription-id